---
#Creating users and giving them sudo roles
- hosts: all
  become: true
  connection: "local"
  vars:
    password: '12345678'
    users:
      - Alexandre
      - Melanie
      - Axel
  tasks:
    - name: Create user accounts and add users to groups
      user:
        name: alexandre
        password: "{{ password | password_hash('sha512') }}"
        groups: "sudo,www-data"
        state: present
- hosts: all
  become: true
  tasks:
    - name: Install Apache2
      apt:
        name: apache2
        state: latest
        update_cache: yes
    - name: enabled mod rewrite
      apache2_module:
        state: present
        name: rewrite
        force: True
    - name: enabled mod proxy
      apache2_module:
        state: present
        name: proxy
        force: True
    - name: enabled mod proxy_http
      apache2_module:
        state: present
        name: proxy_http
        force: True
    - name: enabled mod SSL
      apache2_module:
        state: present
        name: ssl
        force: True

#Install git
- hosts: all
  become: true
  tasks:
    - name: Install git
      apt:
        name: git
        state: latest
        update_cache: yes

#Install docker via geerlingguy ansible galaxy templates
- hosts: all
  become: true
  vars:
    pip_install_packages:
      - name: docker
  roles:
    - geerlingguy.pip
    - geerlingguy.docker

- hosts: all
  become: true
  vars:
    nodejs_npm_global_packages:
      - name: jslint
  roles:
    - geerlingguy.nodejs

