<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Nos Produits :</h2>

<div class="searchBar">
  <select>
    <option value="type" >Research Filter </option>
    <option value="type">Type...</option>
    <option value="type">Format...</option>
  </select>
  <input  class="research" type="search" placeholder="Research...">
  <button>Search</button>
</div>

<section class="product" *ngFor="let product of products">

  <div>
    <img class="leftProduct" src="../../assets/book1.png">
  </div>

  <div class="centerProduct">
    <h3>{{product.nom}}</h3>
    <p>{{product.description}}</p>
  </div>

  <div class="rightProduct">
    <p>{{product.prix}}€</p>
    <br>
    <a mat-button routerLink="#"><mat-icon>add_shopping_cart</mat-icon></a>
  </div>
</section>
</body>
</html>
