<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2>Nos Produits :</h2>

<div class="searchBar">
  <select>
    <option value="type" >Research Filter </option>
    <option value="type">Type...</option>
    <option value="type">Format...</option>
  </select>
  <input  class="research" type="search" placeholder="Research...">
  <button>Search</button>
</div>

<section class="product">

  <div>
    <img class="leftProduct" src="../../assets/book1.png">
  </div>

  <div class="centerProduct">
    <h3>A title</h3>
    <p>Amicitiam te et haerebis venias perferenda agnitus hortatore si conteres haerebis dederis stipite defueris haerebis incognitus hesterno adsiduitati tot in adsiduitati defueris dederis venias ut unde discesseris reverteris summittendo unde.</p>
  </div>

  <div class="rightProduct">
    <p>Price </p>
    <br>
    <img class="imgR" src="../../assets/shopping.png" href="#"/>
  </div>
</section>

<section class="product">

  <div>
    <img class="leftProduct" src="../../assets/book1.png">
  </div>

  <div class="centerProduct">
    <h3>A title</h3>
    <p>Amicitiam te et haerebis venias perferenda agnitus hortatore si conteres haerebis dederis stipite defueris haerebis incognitus hesterno adsiduitati tot in adsiduitati defueris dederis venias ut unde discesseris reverteris summittendo unde.</p>
  </div>

  <div class="rightProduct">
    <p>Price </p>
    <br>
    <img class="imgR" src="../../assets/shopping.png" href="#"/>
  </div>
</section>

</body>
</html>
