<body>
<!--creation de mon img de fond avec texte.-->
  <section>
      <div class="top">
        <p>Ausos aliquos truncis temere profundi veloci prope angusti ad signis sed sole vel profundi vel piscatorios isdem semet ausos dum effusae scientissime profundi piscatorios facillime arcebantur denseta piscatorios latenter veloci nandi comminus transitu comminus scutorum transitu trucidarunt parant tunc trucidarunt effusae legiones innare quoque parant cratibus vel conserendas semet denseta.Ausos aliquos truncis temere profundi veloci prope angusti ad signis sed sole vel profundi vel piscatorios isdem semet ausos dum effusae scientissime profundi piscatorios facillime arcebantur denseta piscatorios latenter veloci nandi comminus transitu comminus scutorum transitu trucidarunt parant tunc trucidarunt effusae legiones innare quoque parant cratibus vel conserendas semet denseta.</p>
      </div>
  </section>

  <section class="bottom">

      <div>
        <h1>Derniers articles ajoutés : </h1>
      </div>

      <div class="dernierArticles">

        <div class="newArticle"><img src="../../assets/book1.png"></div>
        <div class="newArticle"><img src="../../assets/book2.png"></div>
        <div class="newArticle"><img src="../../assets/book1.png"></div>

      </div>

    <a class="btn" mat-button routerLink="/products">Voir nos produits</a>
  </section>

  <footer>

    <a class="footer" href="">Contact</a>
    <a class="footer" href="">FAQ</a>
    <a class="footer" href="">Mentions Légales</a>

  </footer>
</body>
