<body>
<!--creation de mon img de fond avec texte.-->
  <section>
      <div class="top">
        <img src="../../assets/libraryBook.jpg" style="float: left; height: 400px; margin-left: 10%">
        <p style="float: right;color:#3f51b5;font-size: 16px"><u>Parce qu'un livre n'est pas un produit comme les autres...</u></p>
      </div>
  </section>

  <section class="bottom">

      <div>
        <h1>Derniers articles ajoutés : </h1>
      </div>

      <div class="dernierArticles">

        <div class="newArticle"><img src="../../assets/book1.png"></div>
        <div class="newArticle"><img src="../../assets/book2.png"></div>
        <div class="newArticle"><img src="../../assets/book1.png"></div>

      </div>

    <a class="btn" mat-button routerLink="/products">Voir nos produits</a>
  </section>

  <footer>
    <a class="footer" href="">Contact</a>
    <a class="footer" href="">FAQ</a>
    <a class="footer" href="">Mentions Légales</a>
  </footer>

</body>
