{% extends "layout.html" %}
{% block body %}
  <h2>Nouvel utilisateur</h2>
  <form action="" method=post>
    <p>
      Nom:
        <label>
            <input type=text name=nom value="{{ request.form.nom }}">
        </label>
      <p>Prenom:
          <label>
              <input type=text name=prenom value="{{ request.form.prenom }}">
          </label>
      <p>Mail:
        <label>
            <input type=text name="mail" value="{{ request.form.email }}">
        </label>
      <p>Telephone:
          <label>
              <input type=text name="telephone" value="{{ request.form.telephone }}">
          </label>
      <p>
      <input type=submit value="Create entry">
      <a href="{{ url_for('show_all_users') }}">Retour à la liste</a>
  </form>
{% endblock %}
