{% extends "layout.html" %}
{% block body %}
  <h2>All Products</h2>
  <form action="{{ url_for('show_all_products') }}" method=get>
    <table class=products>
      <tr>
        <th>#
        <th>Nom
        <th>Prix
        <th>Quantité
      {%- for product in products %}
      <tr class=title>
        <td>{{ product.id }}
        <td>{{ product.nom }}
        <td>{{ product.prix }}
        <td>{{ product.qte }}
          <td> <a href="{{ url_for('show_update_product',identifier= product.id ) }}">Update</a>
          <td>
            <form method="post" action="{{ url_for('delete_product') }}">
                <input type="submit" name="delete_button" value={{ product.id }}>
            </form>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('add_new_product') }}">New item</a>
  </form>
{% endblock %}
