{% extends "layout.html" %}
{% block body %}
  <h2>All Items</h2>
  <form>
    <table class=users>
      <tr>
        <th>#
        <th>Nom
        <th>Prenom
        <th>Mail
        <th>Telephone
      {%- for user in users %}
      <tr class=title>
        <td>{{ user.id }}
        <td>{{ user.nom }}
        <td>{{ user.prenom }}
        <td>{{ user.mail }}
        <td>{{ user.telephone }}
          <td> <a href="{{ url_for('show_update_user',identifier= user.id ) }}">Update</a>
          <td> <form method="POST" action="{{ url_for('delete_user') }}">
          <input type="submit" name="delete_button" value={{ user.id }}>
            </form>
      {%- endfor %}
    </table>
    <p>
      <a href="{{ url_for('show_new_user') }}">New item</a>
  </form>
{% endblock %}
