{% extends "layout.html" %}
{% block body %}
<h2>Modifier le Produit</h2>
  <form action="" method=post >
    <p>
      Nom:
        <label>
            <input type=text name=nom value="{{ product.nom }}">
        </label>
      <p>Description:
          <label>
              <input type=text name=description value="{{ product.description }}">
          </label>
      <p>Quantité:
        <label>
            <input type=text name="quantité" value="{{ product.qte }}">
        </label>
      <p>Prix:
          <label>
              <input type=text name="prix" value="{{ product.prix }}">
          </label>
      <p>
      <input type=submit value="Update entry">
      <a href="{{ url_for('show_all_products') }}">Retour à la liste</a>
  </form>
{% endblock %}
