<body>

<h1>Votre panier :</h1>

<section class="product">

  <div>
    <img class="leftProduct" src="../../assets/book1.png">
  </div>

  <div class="centerProduct">
    <h3>A title</h3>
    <input type="number" name="nombre" value="Quantité...">
  </div>

  <div class="price">
    <p>Price</p>
    <p>Total Price</p>
  </div>
  <div class="rightProduct">
    <img class="imgR" src="../../assets/corbeille.png" href="#" />
  </div>
</section>

<section class="product">

  <div>
    <img class="leftProduct" src="../../assets/book1.png">
  </div>

  <div class="centerProduct">
    <h3>A title</h3>
    <input type="number" name="nombre" value="Quantité...">
  </div>

  <div class="price">
    <p>Price</p>
    <p>Total Price</p>
  </div>

  <div class="rightProduct">
    <img class="imgR" src="../../assets/corbeille.png" href="#" />
  </div>

</section>

<a class="btn" mat-button routerLink="#">Valider et commander</a>

</body>
