<body>

<h1>Votre panier :</h1>

<section class="product" *ngFor="let product of panier">
  <div>
    <img class="leftProduct" src="../../assets/book1.png">
  </div>
  <div class="centerProduct">
    <h3>{{product.nom}}</h3>
  </div>
  <div class="price">
    <p>{{product.prix}}€</p>
  </div>
  <div class="rightProduct">
    <button mat-raised-button (click)="deleteItem()">
        <mat-icon>edit</mat-icon>
      </button>
  </div>
</section>


<a class="btn" mat-button routerLink="#">Valider et commander</a>

</body>
