<body>

<h1>Votre panier :</h1>

<section class="product" *ngFor="let product of panier">
  <div>
    <img class="leftProduct" src="../../assets/book1.png">
  </div>
  <div class="centerProduct">
    <h3>{{product.nom}}</h3>
    <input type="number" name="nombre" value="Quantité...">
  </div>
  <div class="price">
    <p>{{product.prix}}</p>
    <p>Total Price</p>
  </div>
  <div class="rightProduct">
    <img class="imgR" src="../../assets/corbeille.png" href="#" />
  </div>
</section>


<a class="btn" mat-button routerLink="#">Valider et commander</a>

</body>
